= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :due_date
    = f.datetime_select :due_date
  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :assignee
    = f.text_field :assignee
  .actions
    = f.submit 'Save'
