%p#notice= notice

%p
  %b Description:
  = @task.description
%p
  %b Due date:
  = @task.due_date
%p
  %b Owner:
  = @task.owner
%p
  %b Assignee:
  = @task.assignee

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
